/* FONT & COLOR STYLING */
/* custom google font class */
body {
  font-family: "Faustina";
}
/* set fond for buttons */
button,
.button {
  font-family: "Faustina";
}
.custom_font {
  font-family: "Faustina";
}
/* custom font color (light brown) */
.bg {
  background-color: #e1d2b8;
}
.dbg {
  background-color: #5c4c44;
}
/* custom font colors */
.darkbrown {
  color: #5c4c44;
}
.lightbrown {
  color: #e1d2b8;
}

/* NAVBAR STYLING */
/* adjust navbar height and padding*/
.navbar-item {
  padding: 12px;
}
@media (min-width: 1025px) {
  .navbar-item {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

/* HOME PAGE ~ ABOUT US SECTION (upper half) */
/* circle logo sizing */
.circle-logo {
  width: 300px;
}
/* about us text section */
.about-us {
  width: 100%;
  text-align: center;
}
.about-us-body {
  font-size: 22px;
  max-width: 720;
  margin: 0 auto;
}
/* learn more button */
.learn_btn {
  background-color: #5c4c44;
  color: #e1d2b8;
  font-family: "Faustina";
  outline: none;
}
.learn_btn:hover {
  font-weight: bold;
  color: #e1d2b8;
  box-shadow: 0px 4px 8px rgba(92, 76, 68, 0.4);
  outline: none;
}
/* mission photo */
.smaller_image {
  width: 380px;
  height: auto;
  text-align: center;
}

/* FOOTER STYLING */
/* footer icons small */
.small_icon {
  width: 24px;
  margin-right: 8px;
}
footer a {
  color: #5c4c44;
  font-size: 14px;
}
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5c4c44;
}
footer .columns {
  max-width: 600px;
  margin: 0 auto;
  justify-content: space-between;
}
footer .column {
  display: flex;
  justify-content: center;
}
.embed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
}

/* CONTACT PAGE */
.contact-info {
  max-width: 1100px;
  margin: 0 auto;
}
.contact-info section {
  font-size: larger;
}
/* newsletter button */
.subscribe {
  background-color: #8b8781;
}

/* ABOUT US PAGE */
/* MAIN ABOUT US */
/* hyperlink colors */
.about-us-hyperlink {
  color: #3982b8;
}
.about-us-hyperlink:hover {
  color: #3271a5;
}
/* profile tile shadows */
.shadow {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}
.about-tile:hover {
  box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.3);
}
/* square size and responsive tiles*/
.about-tile-img {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1 / 1;
}
.about-tile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* PROFILES */
.about-hyperlink:hover {
  color: white;
}
.eboard_image {
  width: 350px;
  height: auto;
}
